option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: u19_ncrcrg.wsgi:application

packages:
  yum:
    MySQL-python: []
    python3-devel: []
    mariadb-devel: []
    gcc: []
    gcc-c++: [ ]
    unixODBC-devel: [ ]

files:
  "/home/ec2-user/install_dependencies.sh":
    mode: "000700"
    owner: root
    group: root
    content: |
      #!/bin/bash

      #### This setup was modified from OMERO documentation found here https://docs.openmicroscopy.org/omero/5.6.1/sysadmins/unix/server-ubuntu1804-ice36.html

      ### Create user accounts on machine
      sudo su -
      sudo useradd -rm omero-server
      sudo usermod -aG wheel omero-server
      sudo useradd -rm omero-web

      ### Installing Pre-Requisites
      ######  Add ICE 3.6 to yum repo
      curl -sL https://zeroc.com/download/Ice/3.6/el7/zeroc-ice3.6.repo > zeroc-ice3.6.repo
      mv zeroc-ice3.6.repo /etc/yum.repos.d

      ######  Install dependencies
      yum update -y
      yum install -y httpd.x86_64
      yum install -y bzip2-devel.x86_64

      amazon-linux-extras install -y epel
      amazon-linux-extras install -y java-openjdk11
      amazon-linux-extras install -y python3.8
      amazon-linux-extras install -y postgresql13

      #### Installing OMERO.server dependencies

      yum install -y java-11-amazon-corretto-headless
      yum install -y java-11-amazon-corretto

      yum install -y ice-all-runtime ice-all-devel
      yum groupinstall -y "Development Tools"
      # yum install -y python38-devel   ##This is because we are using python3.8
      yum install -y openssl-devel
      yum install -y glibc-all-langpacks -y
      pip install omero-py

      ######  Installing OMERO web client dependencies

      yum install -y nginx
      systemctl enable nginx

      yum install -y unzip

      ###### Install redis caching - needed for key-value mapr flavicon and URL
      yum -y install redis

      systemctl enable redis.service

      systemctl start redis.service

commands:
  01_create_log:
    command: touch /var/log/cp_log
  02_change_permissions:
    command: chmod 777 /var/log/cp_log
  03_change_owner:
    command: chown webapp:webapp /var/log/cp_log