{% include "./nav.html" %}

<br>
<br>
<br>
<br>
<br>

<div class="container-fluid">
    <div class="row align-items-start  mt-3">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Uploading data outside the CRED UI</h5>
            <p class="card-text">If you are transferring large amounts of data or are transferring data from your cluster, follow these instructions to get your data into the portal.</p>
            <a href="https://www.notion.so/Upload-raw-data-using-a-terminal-in-5-easy-steps-bb9b6b4834614c28bf2be43ac0f5ce46" target="_blank" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Running a new job</h5>
            <p class="card-text">This tutorial runs through a basic job submission.</p>
            <a href="https://www.notion.so/Running-a-new-processing-job-5ababc3bbe264efd9a28526e5f04d156" target="_blank" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Re-running a job</h5>
            <p class="card-text">Follow these instructions if you have had someone share an analysis with you.</p>
            <a href="https://www.notion.so/Re-running-or-Running-a-shared-job-575ce9c322eb48368f23aa7830354ea4" target="_blank" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-start mt-3">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Downloading results</h5>
            <p class="card-text">Click here to see how to download your results.</p>
            <a href="https://www.notion.so/Downloading-results-dda58040e1684ae5b30507edde7af8d7" target="_blank" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sharing results</h5>
            <p class="card-text">Click here for instructions on how to share the results from your processing/analysis job.</p>
            <a href="https://www.notion.so/Sharing-results-b30ee94c23a94e16a69fd83dc92a0acd" target="_blank" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
    </div>
</div>
