
{% include "./nav.html" %}

{% block splash_content %}

<br>
<br>
<br>
<div class="container-fluid">
  <h1>Please contact Brian Yee (bay001@health.ucsd.edu) to set up an onboarding session. Open times are every Thursday and Friday, unless otherwise specified.</h1>
</div>
<div class="container-fluid">
  <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%237986CB&amp;ctz=America%2FLos_Angeles&amp;src=MjluOXV2djVsbjh0cDJtNnA4ZDV1cjAycGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23616161&amp;color=%2333B679&amp;showPrint=0&amp;showTabs=0&amp;mode=WEEK&amp;showTitle=1&amp;showNav=1&amp;showCalendars=1" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock %}