{% extends 'u19_ncrcrg/base.html' %}

{% block head %}
<title>Profile</title>
{% endblock %}
{% block body %}
<p class="success">
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <!-- Form was submitted successfully. Thank you. -->
</p>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    <br>
</div>

{% endblock %}
